/* 
    Project Name: Royella.
    Project Author: Dream It Solution.
    Developer Name: Jisan Khan.
    Version:0.0.1
    &copy: Dream It web Solution.
*/
/* Google Fonts Link */
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600&display=swap');

/* Tailwind  layer configure */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* added select highlight color */
::selection {
  background-color: #c19d68;
  color: white;
}
/* container code */
.Container {
  @apply w-full sm:w-[540px] md:w-[720px] lg:w-[960px] xl:w-[1140px] 2xl:w-[1330px]  px-2 md:px-3 lg:px-4 xl:px-5 mx-auto;
}
.Container3 {
  @apply w-full xl:w-[1140px] 2xl:w-[1330px]  mx-auto;
}
.subContainer {
  @apply w-full  md:w-[720px] lg:w-[960px] xl:w-[1140px] 2xl:w-[1330px]  px-2 md:px-3 lg:px-4 xl:px-5 mx-auto;
}
.Container-Hero {
  @apply w-full sm:w-[540px] md:w-[720px] xl:w-[960px] 2xl:w-[1100px]  3xl:w-[1250px]  px-2 md:px-3 lg:px-4 xl:px-5 mx-auto;
}
/* hover animation */
.hover-animBg {
  @apply relative z-[1] after:absolute after:inset-0 after:content-[""] after:bg-[#C19C67] after:rounded-full after:w-full after:h-full after:scale-0 after:transition-all after:duration-500 after:z-[-1] after:top-0 after:left-0 hover:after:scale-[1];
}
/* primary button */
.btn-primary {
  @apply h-[40px] lg:h-[60px] w-[145px] sm:w-[155px] lg:w-[170px] 2xl:w-[170px] bg-khaki relative before:w-8 before:h-[1px] before:bg-khaki before:absolute before:left-0 before:top-[48px]  lg:before:top-[65px] xl:before:top-16 text-white uppercase text-sm lg:text-base font-medium font-Garamond hover-animBg after:bg-normalBlack after:rounded-none hover:border-normalBlack hover:before:bg-normalBlack transition-all duration-300;
}
.btn-primary1 {
  @apply h-[40px] lg:h-[50px] w-[145px] 2xl:w-[170px] bg-khaki relative before:w-8 before:h-[1px] before:bg-khaki before:absolute before:left-0 before:top-[48px]  lg:before:top-[60px] xl:before:top-14 text-white uppercase text-sm lg:text-base font-medium  font-Garamond hover-animBg after:bg-normalBlack after:rounded-none hover:border-normalBlack hover:before:bg-normalBlack transition-all duration-300;
}

.btn-secondary {
  @apply border border-white w-[145px] sm:w-[155px] lg:w-[170px] 2xl:w-[185px] 3xl:w-[192px] h-[48px] lg:h-[52px] 2xl:h-[60px] relative before:w-8 before:h-[1px] before:bg-white before:absolute before:left-0  md:before:top-[60px] lg:before:top-[65px] 2xl:before:top-[70px] text-white uppercase text-sm lg:text-base font-medium font-Garamond hover-animBg after:rounded-none hover:border-khaki hover:before:bg-khaki transition-all duration-300;
}

.btn-items {
  @apply border border-lightBlack dark:border-white  w-[145px] sm:w-[155px] lg:w-[170px] 2xl:w-[185px] 3xl:w-[192px] h-[48px] relative before:w-8 before:h-[1px] before:bg-lightBlack dark:before:bg-white before:absolute before:left-0 before:top-14 text-lightBlack dark:text-white uppercase text-sm sm:text-base font-medium font-Garamond hover-animBg after:rounded-none hover:border-khaki hover:before:bg-khaki hover:text-white transition-all duration-300;
}
.btn-subscribe {
  @apply h-[56px] bg-khaki w-full text-white uppercase text-base font-medium  font-Garamond;
}

/* video animation */
.video-animation {
  animation: ripple 1.6s ease-out infinite;
}

@keyframes ripple {
  0%,
  35% {
    transform: scale(0);
    opacity: 1;
  }
  50% {
    transform: scale(1.5);
    opacity: 0.8;
  }
  100% {
    opacity: 0;
    transform: scale(2);
  }
}

/* Move animation */
.animation-move1 {
  animation: MOVE-BG1 3s infinite ease alternate;
}
.animation-move {
  animation: MOVE-BG 3s infinite ease alternate;
}

/* input icon color */
input[type='date']::-webkit-calendar-picker-indicator {
  filter: brightness(24.3) invert(15);
}

select option:checked {
  background: -webkit-linear-gradient(bottom, #633c05 0%, #c19d68 100%);
}
option:checked,
option:hover {
  background-color: #c19d68;
  /* padding: 6px; */
  color: white;
}

/* slider responsive */

@keyframes MOVE-BG1 {
  from {
    transform: translateX(-2px);
  }
  to {
    transform: translateX(555px);
  }
}
/* Move bg */
@keyframes MOVE-BG {
  from {
    transform: translateX(-2px);
  }
  to {
    transform: translateX(540px);
  }
}

/* Home three some code */
.boxShadow:hover {
  box-shadow: 0px 5px 15px #cccccc40;
}

/* home-2 => offers*/
.offers {
  @apply bg-white dark:bg-lightBlack px-[25px] py-10 absolute bottom-[-340px] lg:bottom-[-430px] 3xl:bottom-[-340px] group-hover:bottom-0 left-[18px] right-[18px] my-[18px] transition-all duration-500;
}

/* home-4 */
.extra-service {
  @apply px-[30px]  text-center  relative z-[1] before:absolute before:w-0 before:h-full before:left-1/2 before:top-0 before:bg-lightBlack before:bg-opacity-[0.7] dark:before:bg-opacity-[0.7] before:z-[-1] before:transition-all before:duration-500 before:hover:w-full before:hover:left-0 overflow-hidden bg-center bg-cover;
}

/* gallery code */
.gallery-effect {
  @apply relative  before:absolute before:w-0 before:h-full before:left-1/2 before:top-0 before:bg-lightBlack before:bg-opacity-[0.9] dark:before:bg-opacity-[0.9] before:z-[1] before:transition-all before:duration-500 before:hover:w-full before:hover:left-0 bg-no-repeat bg-center bg-cover;
}

/* home-5 */
.apartment-effect {
  @apply before:transition-all before:duration-500 relative before:absolute before:h-full bg-white dark:bg-lightBlack  before:bg-[url('/images/home-5/appartment-bg.png')] before:content-[''] before:w-0 hover:before:w-full px-10 md:px-7 lg:px-10 py-7 lg:py-8 xl:py-[40px] 2xl:px-0  2xl:py-0 grid items-center justify-center  2xl:w-[280px] h-[140px] hover:shadow bg-cover bg-center before:top-0 before:right-0 before:hover:left-0 z-[1] before:z-[-1] before:bg-no-repeat before:bg-cover before:bg-center;
}

/* animation move */
.animation-move {
  animation: MOVE-BG 3s infinite ease alternate;
}
@keyframes MOVE-BG {
  from {
    transform: translateX(-2px);
  }
  to {
    transform: translateX(35px);
  }
}

/* Inner page */

.member {
  @apply p-[30px] border border-lightGray dark:border-gray px-[30px]  text-center  relative z-[1] before:absolute before:w-0 before:h-full before:left-1/2 before:top-0 before:bg-khaki before:z-[-1] before:transition-all before:duration-500 before:hover:w-full before:hover:left-0 overflow-hidden bg-center bg-cover;
}

/* Loading */

/* Loading */

.loading-screen {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: default;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: 1000;
}

.loading-screen .bar {
  position: absolute;
  height: 100%;
  width: 50%;
  background-color: #c19d68;
}

.loading-screen .top-bar {
  top: 0;
  left: 0;
  right: auto;
  bottom: auto;
}

.loading-screen .down-bar {
  bottom: 0;
  top: auto;
  right: 0;
  left: auto;
}

.loading-screen .animation-preloader {
  z-index: 1000;
  position: relative;
}

.loading-screen .animation-preloader .spinner {
  -webkit-animation: spinner 1s infinite linear;
  animation: spinner 1s infinite linear;
  border-radius: 50%;
  border: 4px dotted #e2dfdd;
  border-top: #1f212b;
  width: 150px;
  height: 150px;
  margin: 0 auto 3.5em auto;
  mix-blend-mode: difference;
}

.loading-screen .animation-preloader .txt-loading {
  letter-spacing: 0.2em;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@-webkit-keyframes spinner {
  to {
    -webkit-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
  }
}

@keyframes spinner {
  to {
    -webkit-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
  }
}

@media screen and (max-width: 767px) {
  .loading-screen .animation-preloader .spinner {
    height: 8em;
    width: 8em;
  }
}

@media screen and (max-width: 500px) {
  .loading-screen .animation-preloader .spinner {
    height: 7em;
    width: 7em;
  }
}

.loader {
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translate(-35%, 77px);
}

.loader {
  --w: 10ch;
  font-weight: 400;
  font-size: 28px;
  line-height: 1.4em;
  letter-spacing: var(--w);
  width: var(--w);
  overflow: hidden;
  white-space: nowrap;
  color: transparent;
  text-shadow: calc(0 * var(--w)) 0 #fff, calc(-1 * var(--w)) 0 #fff,
    calc(-2 * var(--w)) 0 #fff, calc(-3 * var(--w)) 0 #fff,
    calc(-4 * var(--w)) 0 #fff, calc(-5 * var(--w)) 0 #fff,
    calc(-6 * var(--w)) 0 #fff, calc(-7 * var(--w)) 0 #fff,
    calc(-8 * var(--w)) 0 #fff, calc(-9 * var(--w)) 0 #fff;
  animation: l20 2s infinite linear;
  font-family: 'Albert Sans', sans-serif;
}
.loader:before {
  content: 'Loading...';
}

.load {
  position: relative;
}

.load:before,
.load:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 0.5em;
  height: 0.5em;
  border-radius: 0.25em;
  transform: translate(-50%, -50%);
}

.load:before {
  animation: before 2s infinite;
}

.load:after {
  animation: after 2s infinite;
}

@keyframes before {
  0% {
    width: 0.5em;
    box-shadow: 1em -0.5em rgba(225, 20, 98, 0.75),
      -1em 0.5em rgba(111, 202, 220, 0.75);
  }
  35% {
    width: 2.5em;
    box-shadow: 0 -0.5em rgba(225, 20, 98, 0.75),
      0 0.5em rgba(111, 202, 220, 0.75);
  }
  70% {
    width: 0.5em;
    box-shadow: -1em -0.5em rgba(225, 20, 98, 0.75),
      1em 0.5em rgba(111, 202, 220, 0.75);
  }
  100% {
    box-shadow: 1em -0.5em rgba(225, 20, 98, 0.75),
      -1em 0.5em rgba(111, 202, 220, 0.75);
  }
}
@keyframes after {
  0% {
    height: 0.5em;
    box-shadow: 0.5em 1em rgba(61, 184, 143, 0.75),
      -0.5em -1em rgba(233, 169, 32, 0.75);
  }
  35% {
    height: 2.5em;
    box-shadow: 0.5em 0 rgba(61, 184, 143, 0.75),
      -0.5em 0 rgba(233, 169, 32, 0.75);
  }
  70% {
    height: 0.5em;
    box-shadow: 0.5em -1em rgba(61, 184, 143, 0.75),
      -0.5em 1em rgba(233, 169, 32, 0.75);
  }
  100% {
    box-shadow: 0.5em 1em rgba(61, 184, 143, 0.75),
      -0.5em -1em rgba(233, 169, 32, 0.75);
  }
}
